@import "fonts/fonts.scss";
@import "animations/animation.scss";
body {
    margin: 0;
    background: #F5F5F5;
    font-family: 'SFProDisplay';
}
h1, h2, h3 {
    margin: 0;
    padding: 0;
}
p {
    margin: 0;
    padding: 0;
}
.container {
    width: 1249px;
    margin: 0 auto;
}
ul {
    padding: 0;
    margin: 0;
}
li {
    list-style: none;
}
a {
    color: #000;
    text-decoration: none;
    font-weight: 400;
}
#header-right__open {
    display: none;
    cursor: pointer;
}
.overlay {
    opacity: 1;
    z-index: -1;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0);
    transition: background .2s ease-in;
}
.overlay-open {
    background: rgba(0, 0, 0, .5);
    z-index: 98;
}
.header-right__menu-open {
    transform: translateY(0) !important;
}

.header__left_open {
    display: none;
    width: 35px;
    height: 29px;
    position: absolute;
    top: 23px;
    left: 35px;
    z-index: 100;
    cursor: pointer;
    span {
        display: block;
        width: 100%;
        background: #A5A5A5;
        height: 4px;
        position: absolute;
        left: 0;
        &:nth-of-type(1) {
            transform: rotate(0deg);
        }
        &:nth-of-type(2) {
            top: 50%;
            transform: translateY(-50%);
        }
        &:nth-of-type(3) {
            bottom: 0;
            transform: rotate(0deg);
        }
    }
}
.left_open_active {
    transition: .2s ease-in all;
    span {
        transition: .2s ease-in all;
        &:nth-of-type(1) {
            transform: rotate(45deg);
            top: 13px;
        }
        &:nth-of-type(2) {
            height: 0;
        }
        &:nth-of-type(3) {
            transform: rotate(-45deg);
            bottom: 12px;
        }
    }
}
.header__left-menu-open {
    transform: translateX(0) !important;
}

@import "modules/header";
@import "modules/header-right";
@import "modules/header-nav";
@import "modules/promo";
@import "modules/catalogue";
@import "modules/active";
@import "modules/active-item";
@import "modules/orders";
@import "modules/orders-item";
@import "modules/blog";
@import "modules/blog-item";
@import "modules/footer";
@import "adaptive/adaptive"