.orders-item {
    width: calc(50% - 61px);
    background: #fff;
    border-radius: 3px;
    padding: 18px 28px;
    margin-bottom: 10px;
    &__time {
        position: absolute;
        top: 0;
        right: 0;
        margin: 0;
        color: #a1a1a1;
        word-spacing: 2px;
    }
    &__title {
        margin-top: 20px;
        font-size: 18px;
        font-weight: 400;
        color: #177DE5;
    }
    &__price {
        float: right;
        color: #D61415;
    }
    &__descr {
        margin-top: 7px;
        font-size: 15px; 
        color: #474747;
    }
}