@font-face {
    font-family: 'ALS Hauss';
    src: url('../fonts/ALSHauss-Black.eot');
    src: local('../fonts/ALS Hauss Black'), local('ALSHauss-Black'),
        url('../fonts/ALSHauss-Black.eot?#iefix') format('embedded-opentype'),
        url('../fonts/ALSHauss-Black.woff2') format('woff2'),
        url('../fonts/ALSHauss-Black.woff') format('woff'),
        url('../fonts/ALSHauss-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'ALS Hauss';
    src: url('../fonts/ALSHauss-Light.eot');
    src: local('../fonts/ALS Hauss Light'), local('ALSHauss-Light'),
        url('../fonts/ALSHauss-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/ALSHauss-Light.woff2') format('woff2'),
        url('../fonts/ALSHauss-Light.woff') format('woff'),
        url('../fonts/ALSHauss-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'ALS Hauss';
    src: url('../fonts/ALSHauss-Medium.eot');
    src: local('../fonts/ALS Hauss Medium'), local('ALSHauss-Medium'),
        url('../fonts/ALSHauss-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/ALSHauss-Medium.woff2') format('woff2'),
        url('../fonts/ALSHauss-Medium.woff') format('woff'),
        url('../fonts/ALSHauss-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'ALS Hauss';
    src: url('../fonts/ALSHauss-Thin.eot');
    src: local('../fonts/ALS Hauss Thin'), local('ALSHauss-Thin'),
        url('../fonts/ALSHauss-Thin.eot?#iefix') format('embedded-opentype'),
        url('../fonts/ALSHauss-Thin.woff2') format('woff2'),
        url('../fonts/ALSHauss-Thin.woff') format('woff'),
        url('../fonts/ALSHauss-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'ALS Hauss';
    src: url('../fonts/ALSHauss-Bold.eot');
    src: local('../fonts/ALS Hauss Bold'), local('ALSHauss-Bold'),
        url('../fonts/ALSHauss-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/ALSHauss-Bold.woff2') format('woff2'),
        url('../fonts/ALSHauss-Bold.woff') format('woff'),
        url('../fonts/ALSHauss-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'ALS Hauss';
    src: url('../fonts/ALSHauss-Regular.eot');
    src: local('../fonts/ALS Hauss Regular'), local('ALSHauss-Regular'),
        url('../fonts/ALSHauss-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/ALSHauss-Regular.woff2') format('woff2'),
        url('../fonts/ALSHauss-Regular.woff') format('woff'),
        url('../fonts/ALSHauss-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}