.autopark {
	background-color: #0B0B0B;
	padding: 0 0 100px 0;
	position: relative;
}
.section__title {
    text-align: center;
    text-transform: uppercase;
    font-family: Montserrat;
    font-size: 35px;
    line-height: 68px;
    font-weight: 600;
    letter-spacing: 0.02em;
    color: #ffffff;
    margin-top: 20px;
}
.autopark__tabs {
	max-width: 1170px;
	margin: 0 auto;
}
.autopark__tabs-head {
	margin: 50px 0;
	text-align: center;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: row;
	-moz-flex-direction: row;
	-ms-flex-direction: row;
	-o-flex-direction: row;
	flex-direction: row;
	-ms-align-items: center;
	align-items: center;
	justify-content: center;
}
.autopark__tabs_head-item {
    text-transform: uppercase;
    font-family: Montserrat;
    font-size: 20px;
    line-height: 34px;
    font-weight: 600;
    letter-spacing: 0.02em;
    color: #ffffff;
	cursor: pointer;
	transition: .2s all;
}
.autopark__tabs_head-item.active, .autopark__tabs_head-item:hover {
	color: #FE0000;
}
.autopark__tabs_head-item:not(:last-child) {
	margin-right: 80px;
}
.autopark__slider {
	display: none;
}
.autopark__slider.active {
	display: block;
}
.autopark__slider-item {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: row;
	-moz-flex-direction: row;
	-ms-flex-direction: row;
	-o-flex-direction: row;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
}
.autopark__slider_item-photo1, .autopark__slider_item-photo2 {
	width: calc(50% - 10px);
	height: auto;
    margin-bottom: 20px;
}
.autopark__slider_item-photo3, .autopark__slider_item-photo4, .autopark__slider_item-photo5, .autopark__slider_item-photo6 {
	width: calc(25% - 15px);
	height: auto;
}
.autopark__slider_item-photo::before, .reviews__slider-item::before {
	content: "";
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	background: rgba(0, 0, 0, 0.5) url("img/zoom-in.svg") center no-repeat;
	opacity: 0;
	visibility: hidden;
	transition: .2s all;
}
.autopark__slider_item-photo img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.autopark .carousel-indicators {
	bottom: -50px;
}
.autopark .carousel-control-next-icon, .autopark .carousel-control-prev-icon {
    position: relative;
}
.autopark .carousel-control-next-icon::after, .autopark .carousel-control-prev-icon::after {
    content: '';
    position: absolute;
    display: block;
    width: calc(100% + 20px);
    height: calc(100% + 20px);
    border-radius: 50%;
    background-color: #000;
    opacity: .6;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.header__mobile {
    display: none;
}
.header__mobile a {
    font-family: Gilroy;
    font-size: 16px !important;
    line-height: 24px;
    font-weight: 600;
    letter-spacing: 0.015em;
    color: #ffffff;
    margin-top: 15px;
    text-decoration: none;
}
.footer__mobile {
    display: block !important;
    margin: 0 auto;
    text-align: center;
}

@media (max-width: 1199px) { /* 992px-1199px */
    .section__title {
        font-size: 26px;
        line-height: 38px;
    }
    .autopark__tabs_head-item {
        font-size: 16px;
        line-height: 26px;
    }
}

@media (max-width: 991px) { /* 768px-991px */
    .autopark {
        padding: 40px 0 60px 0;
    }
    .autopark__tabs-head {
        margin: 16px 0;
    }
    .autopark__tabs_head-item:not(:last-child) {
        margin-right: 23px;
    }
}

@media (max-width: 767px) { /* 576px-767px */
    .section__title {
        font-size: 20px;
        line-height: 30px;
    }
    .autopark__tabs_head-item {
        font-size: 14px;
        line-height: 19px;
    }
    .autopark__tabs_head-item:not(:last-child) {
        margin-right: 12px;
    }
    .autopark__slider_item-photo1, .autopark__slider_item-photo2 {
        width: calc(50% - 3px);
        margin-bottom: 6px;
    }
    .autopark__slider_item-photo3, .autopark__slider_item-photo4, .autopark__slider_item-photo5, .autopark__slider_item-photo6 {
        width: calc(25% - 4px);
    }
    .header__mobile {
        display: block !important;
    }
}

@media (max-width: 575px) { /* 320px-575px */
    .autopark__tabs-head {
        flex-direction: column;
    }
    .schedule-main__location>h3 {
        font-family: Montserrat;
        font-size: 14px;
        line-height: 25px;
        font-weight: 600;
        letter-spacing: 0.02em;
        color: #ffffff;
        text-align: center;
    }
    .header__mobile a {
        font-size: 12px !important;
    }
}