@font-face {
  font-family: 'Myriad Pro';
  src: url("../fonts/MyriadPro/MYRIADPRO-REGULAR.OTF");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat/Montserrat-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: 'Gilroy';
  src: url("../fonts/Gilroy/Gilroy-Light.eot");
  src: local("../fonts/Gilroy/Gilroy Light"), local("../fonts/Gilroy/Gilroy-Light"), url("../fonts/Gilroy/Gilroy-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy/Gilroy-Light.woff2") format("woff2"), url("../fonts/Gilroy/Gilroy-Light.woff") format("woff"), url("../fonts/Gilroy/Gilroy-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Gilroy';
  src: url("../fonts/Gilroy/Gilroy-Regular.eot");
  src: local("../fonts/Gilroy/Gilroy Regular"), local("../fonts/Gilroy/Gilroy-Regular"), url("../fonts/Gilroy/Gilroy-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy/Gilroy-Regular.woff2") format("woff2"), url("../fonts/Gilroy/Gilroy-Regular.woff") format("woff"), url("../fonts/Gilroy/Gilroy-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Gilroy';
  src: url("../fonts/Gilroy/Gilroy-Medium.eot");
  src: local("../fonts/Gilroy/Gilroy Medium"), local("../fonts/Gilroy/Gilroy-Medium"), url("../fonts/Gilroy/Gilroy-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy/Gilroy-Medium.woff2") format("woff2"), url("../fonts/Gilroy/Gilroy-Medium.woff") format("woff"), url("../fonts/Gilroy/Gilroy-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'Gilroy';
  src: url("../fonts/Gilroy/Gilroy-Semibold.eot");
  src: local("../fonts/Gilroy/Gilroy Semibold"), local("../fonts/Gilroy/Gilroy-Semibold"), url("../fonts/Gilroy/Gilroy-Semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy/Gilroy-Semibold.woff2") format("woff2"), url("../fonts/Gilroy/Gilroy-Semibold.woff") format("woff"), url("../fonts/Gilroy/Gilroy-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: 'Gilroy';
  src: url("../fonts/Gilroy/Gilroy-Extrabold.eot");
  src: local("../fonts/Gilroy/Gilroy Extrabold"), local("../fonts/Gilroy/Gilroy-Extrabold"), url("../fonts/Gilroy/Gilroy-Extrabold.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy/Gilroy-Extrabold.woff2") format("woff2"), url("../fonts/Gilroy/Gilroy-Extrabold.woff") format("woff"), url("../fonts/Gilroy/Gilroy-Extrabold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal; }

body {
  background-color: #0a0a0a; }

.header {
  position: absolute;
  width: 100%;
  top: 39px;
  z-index: 2; }
  .header nav {
    display: flex;
    justify-content: space-between;
    list-style: none; }
  .header__navLink a {
    font-family: 'Myriad Pro';
    font-size: 20px;
    font-weight: 400;
    letter-spacing: -0.01em;
    color: #ffffff;
    text-decoration: none; }
  .header__social {
    display: flex; }
  .header__link {
    width: 37px;
    height: 37px;
    border: 2px solid #fff;
    border-radius: 50%;
    text-align: center;
    margin: 0 7px;
    padding: 2px 0; }
    .header__link img {
      height: 21px; }

.promo {
  position: relative;
  z-index: 1;
  min-height: 1065px;
  overflow: hidden; }
  .promo-bg__left {
    position: absolute;
    top: 134px;
    left: 0;
    width: 932px; }
  .promo-bg__road {
    position: absolute;
    top: 7px;
    width: 1011px;
    left: calc(50% + 138px);
    transform: translateX(-50%); }
  .promo-bg__right {
    position: absolute;
    right: 0;
    top: 88px;
    width: 113px; }
  .promo-bg__elips1 {
    position: absolute;
    top: 135px;
    left: calc(50% + 234px);
    transform: translateX(-50%);
    width: 587px; }
  .promo-bg__elips2 {
    position: absolute;
    top: 59px;
    left: calc(50% + 234px);
    transform: translateX(-50%);
    width: 786px; }
  .promo-bg__blue {
    position: absolute;
    top: 63px;
    left: calc(50% + 105px);
    transform: translateX(-50%);
    width: 1019px; }
  .promo-bg__car {
    position: absolute;
    top: -150px;
    left: calc(50% + 306px);
    transform: translateX(-50%);
    width: 800px;
    }
  .promo-bg__light {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; }
  .promo__info {
    position: absolute;
    left: 0;
    top: 115px;
    width: 460px; }
  .promo__title {
    font-family: Montserrat;
    font-size: 46px;
    line-height: 66px;
    font-weight: 600;
    letter-spacing: 0.025em;
    text-transform: uppercase;
    color: #ffffff; }
  .promo__subtitle {
    font-family: Gilroy;
    font-size: 23px;
    line-height: 43px;
    font-weight: 400;
    letter-spacing: 0.015em;
    color: #ffffff;
    margin-top: 15px; }
    .promo__subtitle span {
      font-weight: 800; }
  .promo__request {
    position: relative;
    font-family: Gilroy;
    font-size: 21px;
    line-height: 44px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.006em;
    color: #ffffff;
    margin-top: 23px;
    width: 306px;
    background: rgba(0, 0, 0, 0.4);
    padding: 21px 42px;
    box-sizing: border-box;
    text-decoration: none;
    border-radius: 42px;
    border: none;
    text-align: center !important;
    display: block;
    box-shadow: 6px 8px 29px 0px rgba(3, 152, 158, 0.38), inset 0px -3px 2px 0px rgba(228, 213, 198, 0.67);
    height: 84px; }
    .promo__request:hover {
      color: #fff; }
  .promo__list {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 110px;
    transform: translateX(-50%);
    left: calc(50% + 197px);
    width: 449px; }
    .promo__list span {
      font-family: Gilroy;
      font-size: 18px;
      line-height: 44px;
      font-weight: 400;
      letter-spacing: 0.015em;
      color: #ffffff; }
      .promo__list span:nth-of-type(1) {
        margin-left: 125px; }
      .promo__list span:nth-of-type(2) {
        margin-left: 52px; }
      .promo__list span:nth-of-type(4) {
        margin-left: -46px; }
  .promo-form {
    width: 100%;
    height: 271px;
    background-color: #ffffff;
    position: absolute;
    top: 748px;
    left: 0;
    border-radius: 51px;
    padding: 34px 75px; }
    .promo-form__title {
      font-family: Gilroy;
      font-size: 30px;
      line-height: 44px;
      font-weight: 600;
      letter-spacing: 0.01em;
      color: #000000;
      text-align: center;
      width: 725px;
      margin: 0 auto; }
    .promo-form form {
      display: flex;
      justify-content: space-between;
      margin-top: 27px; }
      .promo-form form input {
        width: 306px;
        height: 72px;
        border: 1px solid #a8a8a8;
        border-radius: 36px;
        font-family: Gilroy;
        font-size: 21px;
        font-weight: 600;
        letter-spacing: 0.025em;
        color: #1c1c1c;
        padding: 10px 10px 10px 48px; }
        .promo-form form input[type="button"] {
          padding: 10px;
          border: none;
          background: #121111;
          box-shadow: 6px 8px 29px 0px rgba(3, 152, 158, 0.38), inset 0px -3px 2px 0px rgba(228, 213, 198, 0.67);
          color: #d7d5d5; }

.schedule {
  padding: 57px 0;
  background: url(../../img/schedule.png) no-repeat;
  background-position: center center;
  background-size: 100%; }
  .schedule__title {
    font-family: Montserrat;
    font-size: 35px;
    line-height: 68px;
    font-weight: 600;
    letter-spacing: 0.025em;
    color: #ffffff;
    text-align: center;
    text-transform: uppercase; }
  .schedule-tabs {
    margin: 64px auto 0 auto;
    width: 669px;
    height: 80px;
    display: flex;
    }
    .schedule-tabs__item {
      height: 100%;
      width: 50%;
      box-sizing: border-box;
      font-family: Gilroy;
      font-size: 35px;
      line-height: 68px;
      font-weight: 500;
      letter-spacing: 0.025em;
      color: #000000;
      border: none;
      box-shadow: none;
      background-color: #fff; }
      .schedule-tabs__item:nth-of-type(1) {
        border-radius: 34px 0 0 34px; }
      .schedule-tabs__item:nth-of-type(2) {
        border-radius: 0 34px 34px 0; }
      .schedule-tabs__item.active {
        background-color: #03989e; }
  .schedule-main {
    width: 816px;
    margin: 76px auto 0 auto;
    display: none; }
    .schedule-main.active {
      display: block; }
    .schedule-main__top {
      display: flex;
      justify-content: center; }
    .schedule-main__location {
      width: 50%; }
      .schedule-main__location:nth-of-type(1) {
        padding-left: 152px; }
        .schedule-main__location:nth-of-type(1) h2::before {
          left: -87px; }
      .schedule-main__location:nth-of-type(2) {
        padding-left: 112px; }
      .schedule-main__location h2 {
        color: #03989e;
        font-family: Montserrat;
        font-size: 47px;
        line-height: 68px;
        font-weight: 600;
        letter-spacing: 0.033em;
        text-transform: uppercase;
        position: relative; }
        .schedule-main__location h2::before {
          content: '';
          display: block;
          width: 59px;
          height: 59px;
          background: url(../../img/location.svg) center center/cover no-repeat;
          position: absolute;
          top: 7px;
          left: -79px; }
      .schedule-main__location ul {
        padding: 0;
        margin-top: 32px;
        list-style: none; }
        .schedule-main__location ul li {
          font-family: Gilroy;
          font-size: 24.4px;
          line-height: 38px;
          font-weight: 400;
          color: #ffffff;
          text-transform: uppercase; }
    .schedule-main__bottom {
      margin-top: 20px; }
      .schedule-main__bottom h2 {
        text-align: center;
        text-transform: uppercase;
        font-family: Gilroy;
        font-size: 25.2px;
        line-height: 40px;
        font-weight: 600;
        letter-spacing: 0.025em;
        color: #ffffff; }
      .schedule-main__bottom ul {
        padding: 0;
        list-style: none;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 233px;
        margin: 33px auto 0 auto; }
        .schedule-main__bottom ul li {
          font-family: Gilroy;
          font-size: 25.2px;
          line-height: 44px;
          font-weight: 500;
          letter-spacing: 0.025em;
          color: #ffffff;
          text-align: center;
          width: 33%; }
  .schedule__order {
    display: block;
    text-align: center;
    text-decoration: none;
    padding: 23px 23px;
    margin: 48px auto 0 auto;
    width: 289px;
    height: 72px;
    border-radius: 36px;
    font-family: Gilroy;
    font-size: 17px;
    font-weight: 500;
    border: none;
    background: #121111;
    box-shadow: 6px 8px 29px 0px rgba(3, 152, 158, 0.38), inset 0px -3px 2px 0px rgba(228, 213, 198, 0.67);
    color: #fff;
    text-transform: uppercase; }
    .schedule__order:hover {
      color: #fff; }

.info {
  padding: 78px 0 141px;
  overflow: hidden; }
  .info__title {
    text-align: center;
    text-transform: uppercase;
    font-family: Montserrat;
    font-size: 35px;
    line-height: 68px;
    font-weight: 600;
    letter-spacing: 0.02em;
    color: #ffffff; }
  .info__items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 60px; }
  .info__item {
    font-family: Gilroy;
    font-size: 22px;
    line-height: 32.5px;
    font-weight: 400;
    letter-spacing: 0.0em;
    color: #ffffff;
    width: 360px;
    margin-bottom: 60px;
    text-align: center; }
    .info__item:nth-of-type(2n-1) {
      margin-left: 121px; }
    .info__item:nth-of-type(2n) {
      margin-right: 125px; }
    .info__item:nth-of-type(5) {
      margin: 0 auto; }
    .info__item img {
      height: 153px; }

.feedback {
  border-top: 4.5px solid #03989e;
  border-bottom: 4.5px solid #03989e;
  border-radius: 18px;
  background: url(../../img/feedback_bg.png) no-repeat;
  background-position: center bottom;
  background-size: 100%;
  position: relative;
  padding: 84px 0 120px; }
  .feedback::after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #232323;
    opacity: .4;
    z-index: 0; }
  .feedback__title {
    position: relative;
    font-family: Montserrat;
    font-size: 36px;
    line-height: 36px;
    font-weight: 600;
    letter-spacing: 0.025em;
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
    z-index: 1; }
  .feedback__items {
    position: relative;
    z-index: 1;
    margin-top: 114px; }
  .feedback-item__text {
    font-family: Gilroy;
    font-size: 24px;
    line-height: 36px;
    font-weight: 600;
    letter-spacing: 0.008em;
    color: #ffffff;
    text-align: center;
    width: 946px;
    margin: 0 auto; }
  .feedback-item__photo {
    width: 190px;
    height: 190px;
    border: 5px solid #03989e;
    box-shadow: 6px 8px 29px 0px rgba(3, 152, 158, 0.12), inset 0px -3px 2px 0px rgba(228, 213, 198, 0.74);
    margin: 0 auto;
    overflow: hidden;
    border-radius: 50%;
    margin-top: 77px;
    position: relative; }
    .feedback-item__photo img {
      width: 100%;
      height: auto;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%); }
  .feedback-item__name {
    text-align: center;
    font-family: Gilroy;
    font-size: 24px;
    line-height: 36px;
    font-weight: 600;
    color: #ffffff;
    margin-top: 43px; }
  .feedback .carousel-control-prev-icon, .feedback .carousel-control-next-icon {
    width: 50px;
    height: 50px;
    background-color: #03989e;
    border-radius: 50%;
    background-size: 60% 60%; }
  .feedback .carousel-control-next, .feedback .carousel-control-prev {
    bottom: 150px;
    top: auto; }
  .feedback .carousel-control-prev {
    left: 118px; }
  .feedback .carousel-control-next {
    right: 118px; }

.about {
  position: relative;
  padding: 103px 0;
  min-height: 1135px;
  overflow: hidden; }
  .about__title {
    font-family: Montserrat;
    font-size: 35px;
    line-height: 53px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.025em;
    color: #ffffff;
    text-align: center; }
  .about__road {
    position: absolute;
    top: 35px;
    left: calc(50% - 268px);
    width: 1000px;
    transform: translateX(-50%); }
  .about__car {
    position: absolute;
    top: -88px;
    right: calc(50% - 489px);
    width: 887px;
    transform: translateX(50%); }
  .about__text {
    position: absolute;
    width: 620px;
    top: 249px;
    left: 59px;
    height: auto;
    background-color: rgba(160, 160, 160, 0.45);
    font-family: Gilroy;
    font-size: 19px;
    line-height: 46.5px;
    font-weight: 500;
    letter-spacing: 0.0em;
    color: #ffffff;
    padding: 76px 53px 76px 74px;
    border-radius: 48px; }

.questions {
  position: relative;
  padding: 65px 0 270px;
  overflow: hidden; }
  .questions .promo-form {
    position: relative;
    top: auto;
    left: auto;
    padding: 48px 75px;
    height: 311px; }
    .questions .promo-form__title {
      width: 760px; }
    .questions .promo-form__subtitle {
      font-family: Gilroy;
      font-size: 18px;
      line-height: 44px;
      font-weight: 300;
      color: #000000;
      text-align: center; }
    .questions .promo-form span {
      float: right;
      opacity: 0.8;
      font-family: Gilroy;
      font-size: 9px;
      line-height: 12px;
      font-weight: 300;
      letter-spacing: 0.025em;
      color: #000000;
      margin: 17px 66px 0 0; }
  .questions__bg {
    position: absolute;
    top: -206px;
    right: calc(50% - 430px);
    transform: translateX(50%);
    width: 867px; }

.footer {
  border-top: 4.5px solid #03989e;
  padding: 10px 0; }
  .footer__copyright {
    text-align: center;
    font-family: Gilroy;
    font-size: 19px;
    line-height: 46.5px;
    font-weight: 500;
    letter-spacing: 0.0em;
    color: #ffffff; }

@media (max-width: 1199px) {
  .header nav li a {
    font-size: 16px; }
  .header__link {
    width: 30px;
    height: 30px; }
    .header__link img {
      height: 16px;
      vertical-align: baseline; }
  .promo {
    min-height: 800px; }
    .promo-bg__left {
      top: 78px;
      width: 550px; }
    .promo-bg__road {
      top: 84px;
      width: 488px;
      left: calc(50% + 33px); }
    .promo-bg__car {
      top: 161px;
      left: calc(50% + 228px);
      width: 421px; }
    .promo-bg__right {
      width: 68px; }
    .promo-bg__elips1 {
      top: 109px;
      left: calc(50% + 211px);
      width: 498px; }
    .promo-bg__elips2 {
      top: 69px;
      left: calc(50% + 217px);
      width: 662px; }
    .promo-bg__blue {
      top: 94px;
      left: calc(50% + 97px);
      width: 871px; }
    .promo__info {
      width: 415px;
      top: 120px; }
    .promo__list {
      top: 98px;
      left: calc(50% + 261px); }
      .promo__list span {
        font-size: 14px;
        line-height: 27px; }
        .promo__list span:nth-of-type(1) {
          margin-left: 108px; }
    .promo__title {
      font-size: 34px;
      line-height: 44px; }
    .promo__subtitle {
      font-size: 21px;
      line-height: 37px;
      margin-top: 2px; }
    .promo__request {
      font-size: 18px;
      line-height: 33px;
      margin-top: 9px;
      width: 285px; }
    .promo-form {
      top: 600px;
      height: 188px;
      border-radius: 32px;
      padding: 22px 35px; }
      .promo-form__title {
        font-size: 25px;
        line-height: 29px;
        width: 608px; }
      .promo-form form {
        margin-top: 15px; }
        .promo-form form input {
          width: 270px;
          height: 60px;
          border-radius: 30px;
          font-size: 16px;
          padding: 10px 10px 10px 25px; }
  .schedule {
    padding: 30px 0; }
    .schedule__title {
      font-size: 26px;
      line-height: 38px; }
    .schedule-tabs {
      margin: 20px auto 0 auto;
      width: 456px;
      height: 85px; }
      .schedule-tabs__item {
        font-size: 24px; }
        .schedule-tabs__item:nth-of-type(1) {
          border-radius: 16px 0 0 16px; }
        .schedule-tabs__item:nth-of-type(2) {
          border-radius: 0 16px 16px 0; }
    .schedule-main {
      width: 740px;
      margin: 26px auto 0 auto; }
      .schedule-main__location:nth-of-type(1) {
        padding-left: 140px; }
        .schedule-main__location:nth-of-type(1) h2::before {
          left: -55px; }
      .schedule-main__location:nth-of-type(2) {
        padding-left: 64px; }
        .schedule-main__location:nth-of-type(2) h2::before {
          left: -55px; }
      .schedule-main__location h2 {
        font-size: 36px; }
        .schedule-main__location h2::before {
          width: 45px;
          height: 45px; }
      .schedule-main__location ul {
        margin-top: 18px; }
        .schedule-main__location ul li {
          font-size: 20px;
          line-height: 30px; }
      .schedule-main__bottom h2 {
        font-size: 23px; }
      .schedule-main__bottom ul {
        margin: 0 auto; }
      .schedule-main__order {
        margin: 18px auto 0 auto;
        width: 259px;
        height: 60px;
        border-radius: 30px;
        font-size: 14px; }
  .info {
    padding: 30px 0; }
    .info__title {
      font-size: 26px;
      line-height: 38px; }
    .info__items {
      margin-top: 50px; }
    .info__item {
      width: 50%;
      padding: 0 54px;
      margin-bottom: 45px;
      font-size: 18px;
      line-height: 24px;
      text-align: center; }
      .info__item:nth-of-type(2n-1) {
        margin-left: 0; }
      .info__item:nth-of-type(2n) {
        margin-right: 0; }
      .info__item:nth-of-type(5) {
        margin: 0 auto; }
  .feedback {
    padding: 30px 0; }
    .feedback__title {
      font-size: 26px;
      line-height: 38px; }
    .feedback__items {
      margin-top: 30px; }
    .feedback-item__text {
      font-size: 18px;
      line-height: 28px; }
  .about {
    padding: 60px 0;
    min-height: 520px; }
    .about__title {
      font-size: 26px;
      line-height: 38px; }
    .about__text {
      width: 510px;
      top: 135px;
      left: 40px;
      font-size: 16px;
      line-height: 25px;
      padding: 38px;
      border-radius: 30px; }
    .about__road {
      width: 470px; }
    .about__car {
      top: -122px;
      right: calc(50% - 341px);
      width: 577px; }
  .questions {
    padding: 65px 0 226px; }
    .questions__bg {
      top: -62px;
      right: calc(50% - 279px);
      width: 598px; }
    .questions .promo-form {
      height: 215px;
      border-radius: 32px;
      padding: 22px 35px; }
      .questions .promo-form__subtitle {
        font-size: 16px;
        line-height: 32px; } }

@media (max-width: 991px) {
  .header nav li a {
    font-size: 14px; }
  .header__link {
    width: 28px;
    height: 28px;
    margin: 0 3px;
    padding: 3px 0; }
    .header__link img {
      height: 14px; }
  .promo {
    min-height: 660px; }
    .promo__info {
      width: 300px;
      top: 98px; }
    .promo__title {
      font-size: 28px;
      line-height: 34px; }
    .promo__subtitle {
      font-size: 16px;
      line-height: 24px; }
    .promo__request {
      font-size: 16px;
      line-height: 27px;
      width: 224px;
      height: 73px;
      padding: 23px 34px; }
    .promo-form {
      top: 488px;
      height: 160px; }
      .promo-form__title {
        font-size: 22px;
        line-height: 26px;
        width: 535px; }
      .promo-form form input {
        width: 198px;
        height: 46px;
        border-radius: 23px;
        font-size: 13px; }
  .schedule-main {
    width: 100%; }
  .schedule__order {
    padding: 24px 23px; }
  .about {
    padding: 30px 0;
    min-height: 520px; }
    .about__text {
      left: 50%;
      transform: translateX(-50%); }
    .about__road {
      width: 100%;
      height: auto;
      left: 50%;
      transform: translateX(-50%); }
    .about__car {
      display: none; }
  .questions {
    padding: 65px 0 245px; }
    .questions .promo-form {
      height: 195px; }
      .questions .promo-form__title {
        width: 535px;
        font-size: 20px;
        line-height: 20px; }
      .questions .promo-form__subtitle {
        font-size: 14px;
        line-height: 25px; }
      .questions .promo-form span {
        margin: 17px 14px 0 0; } }

@media (max-width: 767px) {
  .header {
    top: 16px; }
    .header nav li {
      display: none; }
    .header__social {
      display: flex !important;
      margin: 0 auto; }
    .header__link {
      width: 32px;
      height: 32px;
      margin: 0 10px;
      padding: 5px 0; }
      .header__link img {
        height: 18px; }
  .promo {
    min-height: 730px; }
    .promo-bg__left {
      display: none; }
    .promo-bg__right {
      display: none; }
    .promo-bg__road {
      left: 50%; }
    .promo-bg__car {
      top: 149px;
      left: calc(50% + 220px);
      width: 281px;
      }
    .promo-bg__blue {
      top: 137px;
      left: calc(50% + 164px);
      width: 575px; }
    .promo-bg__elips1 {
      top: 156px;
      left: calc(50% + 253px);
      width: 320px; }
    .promo-bg__elips2 {
      top: 124px;
      left: calc(50% + 279px);
      width: 455px; }
    .promo__list {
      display: none; }
    .promo__info {
      width: 363px;
      top: 98px;
      left: 50%;
      transform: translateX(-50%); }
    .promo__info>img {
      display: block;
      margin: -15px auto 0 auto; }
    .promo__title {
      text-align: center; }
    .promo__subtitle {
      text-align: center; }
    .promo__request {
      width: 200px;
      height: 48px;
      border-radius: 24px;
      font-size: 12px;
      margin: 0 auto;
      display: block;
      padding: 9px 0; }
    .promo-form {
      top: 443px;
      height: 275px; }
      .promo-form__title {
        width: 429px; }
      .promo-form form {
        flex-direction: column;
        justify-content: center; }
        .promo-form form input {
          width: 346px;
          margin: 0 auto 10px auto; }
  .schedule__title {
    font-size: 20px;
    line-height: 30px; }
  .schedule-tabs {
    width: 330px;
    height: 63px; }
    .schedule-tabs__item {
      font-size: 18px;
      line-height: 30px; }
      .schedule-tabs__item:nth-of-type(1) {
        border-radius: 10px 0 0 10px; }
      .schedule-tabs__item:nth-of-type(2) {
        border-radius: 0 10px 10px 0; }
  .schedule-main {
    width: calc(100% - 40px);
    margin: 26px auto 0 auto; }
    .schedule-main__location:nth-of-type(1), .schedule-main__location:nth-of-type(2) {
      padding-left: 0; }
      .schedule-main__location:nth-of-type(1) h2, .schedule-main__location:nth-of-type(2) h2 {
        padding-left: 45px; }
        .schedule-main__location:nth-of-type(1) h2::before, .schedule-main__location:nth-of-type(2) h2::before {
          left: 0; }
    .schedule-main__location h2 {
      font-size: 32px;
      line-height: 45px; }
      .schedule-main__location h2::before {
        width: 35px;
        height: 35px; }
    .schedule-main__location ul li {
      text-align: center; }
    .schedule-main__bottom {
      margin-top: 5px; }
      .schedule-main__bottom h2 {
        font-size: 20px;
        line-height: 30px; }
      .schedule-main__bottom ul li {
        font-size: 20px;
        line-height: 30px;
        padding: 0 10px; }
  .schedule__order {
    margin: 15px auto 0 auto;
    width: 235px;
    height: 56px;
    border-radius: 28px;
    font-size: 14px;
    padding: 18px 23px; }
  .info__title {
    font-size: 20px;
    line-height: 30px; }
  .info__items {
    margin-top: 30px; }
  .info__item {
    width: 100%;
    padding: 0;
    font-size: 16px;
    line-height: 22px; }
    .info__item img {
      height: 115px; }
  .feedback {
    border-top: 2px solid #03989e;
    border-bottom: 2px solid #03989e;
    border-radius: 0;
    background-size: 160%; }
    .feedback__title {
      font-size: 20px;
      line-height: 30px; }
    .feedback-item__text {
      font-size: 16px;
      line-height: 22px;
      width: calc(100% - 40px); }
    .feedback-item__photo {
      width: 140px;
      height: 140px;
      border: 3px solid #03989e;
      margin-top: 22px; }
    .feedback-item__name {
      font-size: 18px;
      line-height: 26px;
      margin-top: 16px; }
    .feedback .carousel-control-prev, .feedback .carousel-control-next {
      top: auto;
      bottom: 88px; }
    .feedback .carousel-control-prev {
      left: 75px; }
    .feedback .carousel-control-next {
      right: 75px; }
  .questions {
    padding: 65px 0 140px; }
    .questions__bg {
      top: 105px;
      right: calc(50% - 189px);
      width: 400px; }
    .questions .promo-form {
      height: 292px;
      left: 50%;
      transform: translateX(-50%);
      padding: 22px 20px;
      border-radius: 14px; }
      .questions .promo-form__title {
        width: 100%;
        font-size: 18px;
        line-height: 20px; }
      .questions .promo-form__subtitle {
        font-size: 12px;
        line-height: 20px; }
      .questions .promo-form span {
        margin: 0 auto;
        width: 100%;
        text-align: center; }
  .footer {
    border-top: 2px solid #03989e;
    padding: 5px 0; }
    .footer__copyright {
      font-size: 12px;
      line-height: 26px; } }

@media (max-width: 575px) {
  .promo {
    min-height: 745px; }
    .promo-bg__blue {
      display: none; }
    .promo-bg__elips1 {
      display: none; }
    .promo-bg__elips2 {
      display: none; }
    .promo-form {
      width: calc(100% - 20px);
      left: 50%;
      transform: translateX(-50%);
      height: 290px;
      padding: 22px 20px;
      border-radius: 14px; }
      .promo-form__title {
        width: 100%;
        font-size: 19px;
        line-height: 22px; }
      .promo-form form input {
        width: 100%;
        margin: 0 auto 10px auto; }
  .schedule-tabs {
    width: calc(100% - 20px);
    height: 50px; }
    .schedule-tabs__item {
      font-size: 16px;
      line-height: 26px; }
      .schedule-tabs__item:nth-of-type(1) {
        border-radius: 10px 0 0 10px; }
      .schedule-tabs__item:nth-of-type(2) {
        border-radius: 0 10px 10px 0; }
  .schedule-main {
    width: calc(100% - 20px);
    margin: 26px auto 0 auto; }
    .schedule-main__location:nth-of-type(1), .schedule-main__location:nth-of-type(2) {
      padding-left: 0; }
      .schedule-main__location:nth-of-type(1) h2, .schedule-main__location:nth-of-type(2) h2 {
        padding-left: 0;
        padding-top: 55px; }
        .schedule-main__location:nth-of-type(1) h2::before, .schedule-main__location:nth-of-type(2) h2::before {
          left: 50%;
          transform: translateX(-50%); }
    .schedule-main__location h2 {
      font-size: 22px;
      line-height: 30px;
      text-align: center; }
    .schedule-main__location ul {
      margin-top: 5px; }
      .schedule-main__location ul li {
        font-size: 14px;
        line-height: 22px; }
    .schedule-main__bottom {
      margin-top: 5px; }
      .schedule-main__bottom h2 {
        font-size: 16px;
        line-height: 24px; }
      .schedule-main__bottom ul li {
        font-size: 16px;
        line-height: 26px; }
  .schedule__order {
    width: 200px;
    height: 48px;
    border-radius: 24px;
    font-size: 12px;
    padding: 15px 23px; }
  .feedback {
    background-size: 260%; }
    .feedback .carousel-control-prev, .feedback .carousel-control-next {
      top: auto;
      bottom: 88px;
      width: 17%; }
    .feedback .carousel-control-prev {
      left: 18px; }
    .feedback .carousel-control-next {
      right: 18px; }
  .about {
    min-height: 370px; }
    .about__title {
      font-size: 20px;
      line-height: 30px; }
    .about__text {
      width: calc(100% - 20px);
      top: 73px;
      font-size: 14px;
      line-height: 18px;
      padding: 10px;
      border-radius: 10px;
      font-weight: 400; }
  .questions {
    padding: 65px 0 140px; }
    .questions__bg {
      top: 212px;
      right: calc(50% - 10px);
      width: 100%; }
    .questions .promo-form {
      width: 100%;
      height: 328px; }
      .questions .promo-form__subtitle {
        line-height: 15px;
        margin-top: 6px; } }